@import url('https://fonts.googleapis.com/css2?family=Inter:opsz@14..32&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Inter", serif;
  -webkit-tap-highlight-color: transparent;
}

body {
  background-color: #FAFAF7;
  text-rendering: optimizeLegibility;
  hyphens: auto;
  overscroll-behavior: none;
}
::selection {
  background: rgba(136, 186, 68, 0.5);
  color: #FFFF;
}
.hero {
  animation: fadeUp .8s ease;
}

@keyframes fadeUp {
  from {opacity:0; transform:translateY(20px);}
  to {opacity:1; transform:translateY(0);}
}

/* header section ↓ */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: olive;
  background: rgba(250,250,242,0.80);
  backdrop-filter: blur(8px);
  filter: drop-shadow(0 4px 6px rgba(0,0,0,0.15));
  height: 4rem;
  width: 100%;
  padding: 1.5rem;
  max-width: 1200px;
  position: fixed;
  top: 0;
  z-index: 999;
}
.my-logo {
  stroke: #F47A2A;
  fill: #F47A2A;
  height: 2rem;
  width: auto;
  opacity: 70%;
  user-select: none;
  transition: color 0.3s, transform 0.2s;
}
.my-logo:hover {
  color: #A66C3A;
  transform: scale(1.1);
}

.navbar ul {
  display: flex;
  list-style-type: none;
  gap: 1.5rem;
}
.navbar {
  text-decoration: none;
  background-color: #F47A2A;
  color: #FAFAF2;
  border-radius: 24px;
  padding: 0.5rem 0.5rem;
  opacity: 80%;
  transition: transform 0.5s ease;
}
.navbar:hover {
  background-color: #F47A2A;
  color: #FAFAF2;
}
.navbar:active{
    transform: scale(1.05);
}
/* hero section ↓ */
.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 6rem;
  max-width: 1200px;
}
.illustration {
  height: 400px;
  margin-right: 2rem;
  pointer-events: none;
  user-select: none;
}
.heroSub {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.port {
  font-size: 3rem;
  color: #F47A2A;
  pointer-events: none;
}
.cv {
  font-size: 1rem;
  color: #5B3A22;
  pointer-events: none;
}
.herobtns {
  display: flex;
  gap: 1rem;
  margin-top: 1.5rem;
}
.hirme {
  background-color: #F47A2A;
  color: #FAFAF2;
  border-radius: 24px;
  text-decoration: none;
  padding: 0.5rem 1.5rem;
  transition: background-color 0.3s ease;
}
.mypdf {
  display: inline-block;
  margin-top: 0.5rem;
  background-color: #F47A2A;
  color: #FAFAF2;
  border-radius: 24px;
  text-decoration: none;
  padding: 0.5rem 1.5rem;
  transition: transform 0.5s ease, background-color 0.3s ease;
}
.mypdf:hover {
  background-color: #88BA44;
}
.mypdf:active {
  transform: scale(1.06);
}
.herobtns a{
  text-decoration: none;
}
.herobtns a:hover{
  background-color: #88BA44;
}

/* about me section ↓ */
.aboutme {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 6rem;
  max-width: 1200px;
  gap: 2rem;
  
}
.myphoto {
  height: 15rem;
  border-radius: 50%;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  pointer-events: none;
  user-select: none;
}
.cvtitle {
  font-size: 4rem;
  color: #F47A2A;
  text-align: center;
  margin-bottom: 2rem;
  pointer-events: none;
}
.mycv {
  text-align: justify;
  color: #5B3A22;
  width: 350px;
  justify-content: center;
  pointer-events: none;
}
.lalala {
  width: 100vw;
  pointer-events: none;
  user-select: none;
}
.skills {
  display: flex;
  align-items: center;
  margin-top: 3rem;
  color: #F47A2A;
  justify-content: center;
  text-align: center;
  pointer-events: none;
}
.icons img {
  flex-direction: column;
  height: 2rem;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  margin: 1rem;
  margin-top: 3rem;
  pointer-events: none;
  user-select: none;
}
/* work section */
.work {
  text-align: center;
  margin-bottom: 8rem;
}
.check {
  color: #F47A2A;
  font-size: 3rem;
  margin-bottom: 2rem;
  text-align: center;
  justify-content: center;
  pointer-events: none;
}
.my-portefuelle {
  margin-bottom: 4rem;
  display: inline-block;
  background-color: #88BA44;
  color: #FAFAF2;
  border-radius: 24px;
  text-decoration: none;
  padding: 0.5rem 1.5rem;
  text-align: center;
  transition: transform 0.5s ease, background-color 0.3s ease;
}
.my-portefuelle:hover {
  background-color: #ADD400;
}
.my-portefuelle:active {
  transform: scale(1.06);
}
/* contact section */
.Contact {
  text-align: center;
  text-decoration: none;
  flex-direction: column;
  margin-bottom: 3rem;
}
.itisal {
  color: #F47A2A;
  font-size: 3rem;
  margin-bottom: 2rem;
  text-align: center;
  justify-content: center;
  pointer-events: none;
}
.email {
  color: #5B3A22;
  text-decoration: none;
  background-color: transparent;
  border-radius: 24px;
  text-decoration: none;
  padding: 0.5rem 1.5rem;
  display: inline-block;
  border: 2px;
  border-color: #F47A2A;
  text-align: center;
  justify-content: center;
}
.email:hover {
  background-color: #88BA44;
  color: #FAFAF2;
  border-radius: 24px;
  text-decoration: none;
  padding: 0.5rem 1.5rem;
  display: inline-block;
}
/* footer section */
footer{
  text-decoration: none;
  text-align: center;
  padding: 1rem;
  background-color: #F47A2A;
  color: #FFFF;
  width: 100%;
  pointer-events: none;
} 
/* Media Queries for Responsiveness */
@media (max-width: 600px) {
  .cat {
    font-size: 0.9rem;
  }
  .navbar ul {
    font-size: 0.8rem;
    gap: 1rem;
  }
  .illustration {
    margin-right: 0;
  }
  .hero {
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }
  .port {
    font-size: 3rem;
  }
  .aboutme {
    padding-left: 4rem;
    padding-right: 4rem;
    margin-top: -4rem;
  }
  .myphoto {
    height: 10rem;
  }
  .cvtitle {
    font-size: 2rem;
  }
  .mycv {
    font-size: 1rem;
    max-width: 270px;
  }
  .check{
    font-size: 2rem;
  }
  .icons img {
    margin: 0.5rem;
    margin-top: 2rem;
  }
  .itisal {
    font-size: 2rem;
  }
  footer{
    padding: 0.5rem;
    font-size: 0.7rem;
  }
}
@media (max-width: 768px) {
  .illustration {
    margin-right: 0;
  }
  .hero {
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }
  .port {
    font-size: 3rem;
  }
  .aboutme {
    padding-left: 4rem;
    padding-right: 4rem;
    margin-top: -4rem;
  }
  .myphoto {
    height: 10rem;
  }
  .cvtitle {
    font-size: 2.7rem;
  }
  .mycv {
    font-size: 1rem;
    max-width: 270px;
  }
  .check{
    font-size: 2rem;
  }
  .icons img {
    margin: 0.5rem;
    margin-top: 2rem;
  }
  .itisal {
    font-size: 2rem;
  }
  footer{
    padding: 0.5rem;
    font-size: 0.7rem;
  }
}

@media (min-width: 1200px) {
}